<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head> 


<body>
    <header>
        
    </header>

    <div class="container1">
        <nav class="stroke">
            <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <img id="luminexlogo" src="/static/images/luminex.png">
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="text">
            <h1>Recreate.</h1>
            <h3>Rebrand.</h3>
            <p>Redefine your online influence through a impactful social presence.</p>
            <br>
            <a id="clearbutton" href="{{ url_for('learnmore') }}" type="button"></a>
            <img class="png1" style="vertical-align: middle;" src="/static/images/isometricpng1.png">
        </div>
        <div class="diagonal-box1">
            <div class="content"> ... </div>
        </div>
        
    </div>

    <div class="container2">
        <div class="text_black">
            <h1></h1>
            <h1>Targeted Impact</h1>
            <h1>For your</h1>
            <h1>Small Business</h1>
            <p></p>
            <br>
            <img class="fbiphone" src="/static/images/fbiphone.png">
        </div>
        <img class="googleadslogo" src="/static/images/googleads.png">
    </div>
    
    
    <div class="container3">
        <div class="text_black">
            <h1></h1>
            <h1>Google Ads.</h1>
            <h1>Facebook Ads.</h1>
            <h1>See Results.</h1>
            <p></p>
            <br>
        </div>
        <img class="png2" src="/static/images/isometric2.png">
    </div>
    
    <div class="container4">
        <div class="text_white">
            <h1></h1>
            <h1>Google Ads.</h1>
            <h1>Facebook Ads.</h1>
            <h1>Div container 4</h1>
            <p></p>
            <br>
        </div>
        <div class="diagonal-box2">
            <div class="content"> ... </div>
        </div>
        <img class="png4" src="/static/images/isometric4.png">
    </div>

    <div class="container5">  
        <div class="roundedbox1">
            <div class="text2">
                <h1>Rage fuck. Now.</h1>
                <br>
                <h3>Jungle ass mofo.</h3>
                <h3>Justin N. </h3>
                <p> Deez nutz Deez nutz Deez nutz Deez nutz</p>
                <br>
                <div id="clearbutton" onClick="document.getElementById('1').scrollIntoView();"></div>
            </div>
            
            <img class="png3" src="/static/images/isometric3.png">
        </div>
    </div>

    <div class="container6"> 
       
        <div class="roundedbox1">
            <div class="text2">
                <h1>Suck. My. Balls.</h1>
                <br>
                <h3>Deez Nuts hahaha.</h3>
                <h3>blah blah blah.</h3>
                <p> Deez nutz Deez nutz Deez nutz Deez nutz</p>
                <br>
                <div id="clearbutton" onClick="document.getElementById('1').scrollIntoView();"></div>

            </div>
            
            <img class="png3" src="/static/images/isometric3.png">
        </div>
    </div>

    <div class="container7">
        <div class="roundedbox2">
        </div>
        <div class="roundedbox2">
        </div>
    </div>

    <div class="container8">
        <div class="roundedbox3">
        </div>
        <div class="roundedbox3">
        </div>
        <div class="roundedbox3">
        </div>
    </div>
</body>

</html>
